@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
*{
  font-family: 'Architects Daughter', cursive;
}
main {
    width: 80%;
    text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:100%;
}
li {
  list-style: none;
}
